name: Nix Flake Check

on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/determinate-nix-action@v3

      - uses: DeterminateSystems/magic-nix-cache-action@v2

      - name: Run flake checks
        run: nix flake check -L
